{{ sylius_template_event('sylius.admin.product.index.content.sidebar', _context) }}
<div class="ui two column stackable">
    <div class="sixteen wide mobile sixteen wide tablet thirteen wide computer sylius-product-index">
        {{ sylius_template_event('sylius.admin.product.index.content.main', _context) }}
    </div>
</div>
